In [4]:
import pandas as pd

x = [1,2,3,4,5]

s = pd.Series(x, index = ['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
d = {'a':1, 'b':2, 'c':3}

s = pd.Series(d)
print(s)

a    1
b    2
c    3
dtype: int64

In [9]:
web = {'day': [1,2,3,4,5], 'vistors':[100,200,300,400,500], "bounce": [2,4,6,8,5]}

df = pd.DataFrame(web)
df

   day  vistors  bounce
0    1      100       2
1    2      200       4
2    3      300       6
3    4      400       8
4    5      500       5

In [11]:
df.head(2)

   day  vistors  bounce
0    1      100       2
1    2      200       4

In [14]:
df.shape

(5, 3)

In [15]:
df['day']

0    1
1    2
2    3
3    4
4    5
Name: day, dtype: int64

In [20]:
# df.iloc[:,0]
df.iloc[2]

day          3
vistors    300
bounce       6
Name: 2, dtype: int64

In [26]:
df['day'].values

array([1, 2, 3, 4, 5], dtype=int64)

In [28]:
df.describe()

            day     vistors    bounce
count  5.000000    5.000000  5.000000
mean   3.000000  300.000000  5.000000
std    1.581139  158.113883  2.236068
min    1.000000  100.000000  2.000000
25%    2.000000  200.000000  4.000000
50%    3.000000  300.000000  5.000000
75%    4.000000  400.000000  6.000000
max    5.000000  500.000000  8.000000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   day      5 non-null      int64
 1   vistors  5 non-null      int64
 2   bounce   5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes

In [33]:
print(df.groupby(['day'])) # data to be ingested wiating ....

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000015B565E7C40>

In [36]:
data = pd.read_csv('diabetes.csv')

data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [38]:
data['Pregnancies'].value_counts()

Pregnancies
1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: count, dtype: int64

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [46]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

MATCHES DATASET PROBLEM

In [49]:
matches = pd.read_csv('matches .csv')
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [51]:
matches.count()

id                 636
season             636
city               629
date               636
team1              636
team2              636
toss_winner        636
toss_decision      636
result             636
dl_applied         636
winner             633
win_by_runs        636
win_by_wickets     636
player_of_match    633
venue              636
umpire1            635
umpire2            635
umpire3              0
dtype: int64

In [60]:
matches.groupby(['season']).count()

,id,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
season,,,,,,,,,,,,,,,,,
2008,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,0
2009,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,0
2010,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,0
2011,73,73,73,73,73,73,73,73,73,72,73,73,72,73,73,73,0
2012,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,0
2013,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,0
2014,60,53,60,60,60,60,60,60,60,60,60,60,60,60,60,60,0
2015,59,59,59,59,59,59,59,59,59,57,59,59,57,59,59,59,0
2016,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,0
2017,59,59,59,59,59,59,59,59,59,59,59,59,59,59,58,58,0

In [63]:
len(matches['season'].unique())

10

In [79]:
max_value_row = matches.loc[matches['win_by_runs'].idxmax()]
print(max_value_row['winner'])

print(max_value_row)

Mumbai Indians
id                               44
season                         2017
city                          Delhi
date                     2017-05-06
team1                Mumbai Indians
team2              Delhi Daredevils
toss_winner        Delhi Daredevils
toss_decision                 field
result                       normal
dl_applied                        0
winner               Mumbai Indians
win_by_runs                     146
win_by_wickets                    0
player_of_match         LMP Simmons
venue              Feroz Shah Kotla
umpire1                 Nitin Menon
umpire2                   CK Nandan
umpire3                         NaN
Name: 43, dtype: object

In [81]:
max_value_row = matches.loc[matches['win_by_wickets'].idxmax()]
print(max_value_row['winner'])

print(max_value_row)

Kolkata Knight Riders
id                                                      3
season                                               2017
city                                               Rajkot
date                                           2017-04-07
team1                                       Gujarat Lions
team2                               Kolkata Knight Riders
toss_winner                         Kolkata Knight Riders
toss_decision                                       field
result                                             normal
dl_applied                                              0
winner                              Kolkata Knight Riders
win_by_runs                                             0
win_by_wickets                                         10
player_of_match                                   CA Lynn
venue              Saurashtra Cricket Association Stadium
umpire1                                       Nitin Menon
umpire2                                         CK Nandan
umpire3                                               NaN
Name: 2, dtype: object

In [88]:
new_dataset = matches[matches['win_by_wickets']>0]

max_value_row = new_dataset.loc[new_dataset['win_by_wickets'].idxmin()]
print(max_value_row['winner'])

print(max_value_row)

Kolkata Knight Riders
id                                   560
season                              2015
city                             Kolkata
date                          2015-05-09
team1                    Kings XI Punjab
team2              Kolkata Knight Riders
toss_winner              Kings XI Punjab
toss_decision                        bat
result                            normal
dl_applied                             0
winner             Kolkata Knight Riders
win_by_runs                            0
win_by_wickets                         1
player_of_match               AD Russell
venue                       Eden Gardens
umpire1                     AK Chaudhary
umpire2                  HDPK Dharmasena
umpire3                              NaN
Name: 559, dtype: object

In [96]:
max_mathces_in_season = matches['season'].value_counts().idxmax()
print(max_mathces_in_season)

2013

In [99]:
max_matches_won = matches['winner'].value_counts().idxmax()
print(max_matches_won)

Mumbai Indians